<%= form_for(@crate) do |f| %>
  <% if @crate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@crate.errors.count, "error") %> prohibited this crate from being saved:</h2>

      <ul>
      <% @crate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.number_field :category_id %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>


  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
