<ol class="breadcrumb">
  <li><a href="/">Categories</a></li>

  <li><a href="/categories/<%= @crate.category_id %>"><%= @crate.category.name %></a></li>
  <li><a href="/crates/<%= @crate.id %>"><%= @crate.name %></a></li>
</ol>

<div class="app-container" data-crateid="<%= @crate.id %>" ng-app="checkboxApp" ng-controller="checkboxCtl">

<p id="notice"><%= notice %></p>


  <div class="row">




    <div class="col-md-4 left-thumbnails">
      <h1><%= @crate.name %></h1>
        <%= form_for(@unique_crate) do |f| %>
          <input type="hidden" name="unique_crate[item_ids][]" value="{{ item.id }}" ng-repeat="item in items | filter:{checked: true}">
          <input type="hidden" name="unique_crate[crate_id]" value="<%= @crate.id %>">
          <%= f.submit "Buy Crate", class: "btn btn-large btn-primary"%>
        <% end %>
      <br>



      <div class="crate-background">
        <div ng-repeat="item in items | filter:{checked:true}">
            <img id="left-thumbnail-img" src="{{item.image.url}}" style="transform:rotate({{item.rotation}}deg)">
        </div>
      </div>
    </div>
        <h3>Total Price $ {{ totalPrice() }}</h3>


    <div class="col-md-8" id="scroll-content">
      <div>
        <div class="row well well-sm" ng-repeat="item in items" id="item-contents">
          <label class="checkboxtext">
            <div class="col-md-1">
              <input type="checkbox" class="checkbox" ng-model="item.checked" />
            </div>
            <div class="col-md-3">
              <div class="thumbnail-image">
                <img src="{{item.image.url}}">
              </div>

            </div>
            <div class="col-md-8">
              <div class="caption">
                <h3>{{item.name}}</h3>
                <p>{{item.description}}</p>
                <p>$ {{item.price}}</p>

              </div>
            </div>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
