<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-4" id="crate-desc">
    <h2><%= @crate.name %></h2>
    <p><%= @crate.description %>
  <div>

  <div class=".col-md-4 .col-md-4 .col-md-4">
    <% @items.each do |item| %>
      <p id="image-temp"><%= image_tag item.image.url %></p>
      <p><a href="/crates/<%= item.id %>"></a><%= item.name %>  (<%= number_to_currency(item.price, precision: 0) %>)</p>
    <% end %>
  <div>

</div>


<p><%= link_to 'Edit', edit_crate_path(@crate) %> |
<%= link_to 'Back', crates_path %>
