<h1>Listing unique_crates</h1>

<table>
  <thead>
    <tr>
      <th>Crate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @unique_crates.each do |unique_crate| %>
      <tr>
        <td><%= unique_crate.crate %></td>
        <td><%= link_to 'Show', unique_crate %></td>
        <td><%= link_to 'Edit', edit_unique_crate_path(unique_crate) %></td>
        <td><%= link_to 'Destroy', unique_crate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Unique crate', new_unique_crate_path %>
