<!DOCTYPE html>
<html>
<head>
  <title>CrateDrop</title>
  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>

<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Crate Drop</a>

      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>








        <ul class="nav navbar-nav navbar-right">


          <li id="login">
            <% if user_signed_in? %>
              Logged in as <strong><%= current_user.email %></strong>.
              <button><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></button>
              <button><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></button>
            <% else %>
              <button><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></button>
              <button><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></button>
            <% end %>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Cart<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->

  </nav>


  <div id="wrapper">

      <!-- Sidebar -->
      <div id="sidebar-wrapper">
          <ul class="sidebar-nav">
              <li class="sidebar-brand">
                  <a href="#">
                      Crate Types
                  </a>
              </li>
              <li>
                  <a href="/categories/1">Geek</a>
              </li>
              <li>
                  <a href="/categories/2">Retro</a>
              </li>
              <li>
                  <a href="/categories/3">Orient</a>
              </li>
              <li>
                  <a href="/categories/4">Booze</a>
              </li>
              <li>
                  <a href="/categories/5">TLC</a>
              </li>
              <li>
                  <a href="/categories/5">Survival</a>
              </li>
              <li>
                  <a href="/categories/6">Mash Crates</a>
              </li>

          </ul>
      </div>
      <!-- /#sidebar-wrapper -->

      <!-- Page Content -->
      <div id="page-content-wrapper">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-lg-12">
                      <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Explore Crate Types</a>
                  </div>
              </div>
          </div>



          <div>
            <br>



            <% if notice %>
              <p class="alert alert-success"><%= notice %></p>
            <% end %>
            <% if alert %>
              <p class="alert alert-danger"><%= alert %></p>
            <% end %>



            <%= yield %>
          </div>
      </div>
      <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Remember: javascript tag before adding jquery scripts -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js' %>

  <!-- Menu Toggle Script -->
  <script>
  $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
  });
  </script>


</body>
</html>
