<!DOCTYPE html>
<html>
<head>
  <title>Crate Drop | Not for Everyone</title>
  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>

</head>

<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->

      <a href="/" class="navbar-brand"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span></a>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav navbar-right">


          <li id="login">
            <% if user_signed_in? %>
              <strong><%= current_user.email %></strong>
              <button class="btn btn-default">
                <%= link_to(raw("<span class='glyphicon glyphicon-user' aria-hidden='true'></span>"), edit_user_registration_path, :class => 'navbar-link' )%>
              </button>
              <button class="btn btn-default">
                <%= link_to(raw("<span class='glyphicon glyphicon-eject' aria-hidden='true'></span>"), destroy_user_session_path, method: :delete, :class => 'navbar-link')  %>
              </button>
              <button class="btn btn-default">
                <% if @last_crate %>
                  <a href="/unique_crates/<%= @last_crate %>"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a>
                <% end %>
              </button>

            <% else %>
              <button class="btn btn-default">
                <%= link_to(raw("<span class='glyphicon glyphicon-user' aria-hidden='true'></span>"),new_user_registration_path, :class => 'navbar-link') %>
              </button>
              <button class="btn btn-default">
                <%= link_to(raw("<span class='glyphicon glyphicon-play' aria-hidden='true'></span>"), new_user_session_path, :class => 'navbar-link')  %>
              </button>
            <% end %>


            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->

  </nav>



  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>

<div class="title">
  <p class="header">CRATE DROP</p>
  <p class="under-header">GIFT BUYING MADE EASY</p>
</div>

<div class="contents">
  <%= yield %>
</div>


  <!-- Remember: javascript tag before adding jquery scripts -->
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js' %>


</body>
</html>
